<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="smtpemail" value="lfang_1973@163.com" />
    <add key="smtppassword" value="19730418" />
    <add key="smtpserver" value="smtp.163.com" />
    <add key="loginpage" value="signin.htm" />
    <add key="corppage" value="finishResume.html" />
    <add key="mapping.config" value="xml/mapping.config.xml" />
  </appSettings>
  <connectionStrings>
    <add name="controlServer" connectionString="Data Source=192.168.1.34;Database=maindb;User id=sa;PWD=1QAZ2wsx;" />
    <add name="maindb" connectionString="Data Source=192.168.1.34;Database=maindb;User id=sa;PWD=1QAZ2wsx;" />
    <add name="currentdb" connectionString="Data Source=192.168.1.34;Database={$CURRENT_DATABASE};User id=sa;PWD=1QAZ2wsx;" />
    <!--<add name="controlServer" connectionString="Data Source=116.236.190.10,14333;Database=wbxdb;User id=sa;PWD=Admin@123;"/>-->
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <!--sessionState mode="InProc" cookieless="false" timeout="10" /-->
    <!--httpHandlers>
      <add verb="*" path="*.htm" type="System.Web.UI.SimpleHandlerFactory"/>
    </httpHandlers-->
    <!--urlMappings enabled="false">
      <add url="~/html/signin.htm" mappedUrl="~/calop/HtmlController.ashx"/>
    </urlMappings>
    <authorization>
      <allow roles="Admins"/>
      <allow users="*"/>
    </authorization-->
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpRuntime maxRequestLength="40960" targetFramework="4.5" requestValidationMode="2.0" />
    <customErrors mode="Off" defaultRedirect="error" />
    <sessionState cookieName="Brahma_Token" mode="InProc" cookieless="false" timeout="20" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="myHandler" verb="*" path="*.htm" type="starecruitment.calop.HtmlController" preCondition="integratedMode" />
    </handlers>
    <!--modules>
      <add name="TestModule" type="starecruitment.App_Code.TestModule,starecruitment"></add>
    </modules-->
    <staticContent>
      <remove fileExtension=".tpl" />
      <mimeMap fileExtension=".tpl" mimeType="text/plain" />
      <remove fileExtension=".dialog" />
      <mimeMap fileExtension=".dialog" mimeType="text/plain" />
      <remove fileExtension=".appcache" />
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>